div {
  border: #F77F00 solid 1px;
}


.game-container {
  height: 80vh;
  justify-content: center;
  background-color: #EAE2B7;
  padding: 0 20% 0 20%;

}

.hud {
  display: flex;
  height: 20%;
  background-color: #FCBF49;
}

.player {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trainer-picture {
  width: 80%;
  height: 75%;
  border-radius: 50%;
}

.party {
  width: 75%;
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: center;
}

.party-list {
  display: flex;
  list-style: none;
  align-items: center;
  /* justify-content: center; */
  /* padding: 0; */
  /* width: 85%; */
  padding: 0 5% 0 5%;
}

.poke-list-item{
  width: 90%;
}

.poke-pic {
  width: 80%;
  height: 75%;
  border-radius: 50%;
  background-color: #EAE2B7;
  /* padding: 0 2% 0 2%; */
}
.game {
  height: 80%;
  background-color: #FCBF49;
}